@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

button {
	@apply rounded-full
}

a{
	@apply  hover:text-primary-500 transition duration-200 ease-in-out ;
}

.input{
	@apply border-0 border-b-2 border-opacity-60 m-1 variant-glass-surface ;
}

h1{
	@apply py-6 my-4;
}

h2{
	@apply py-4 my-2 ;
}


pre {
	@apply bg-gray-500 text-green-200 rounded-xl p-4 overflow-auto;
}